*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:Segoe UI;
  background:#0f172a;
  color:white;
  height:100vh;
}

/* LOGIN */

.login-page{
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
  background:linear-gradient(135deg,#0f172a,#1e293b);
}

.login-box{
  width:350px;
  padding:40px;
  border-radius:20px;
  backdrop-filter:blur(12px);
  background:rgba(255,255,255,0.08);
  border:1px solid rgba(255,255,255,0.2);
  text-align:center;
}

.login-box h1{
  margin-bottom:10px;
}

.login-box p{
  margin-bottom:25px;
  color:#cbd5e1;
}

.login-box input{
  width:100%;
  padding:12px;
  margin-bottom:15px;
  border:none;
  border-radius:10px;
  outline:none;
}

.login-box button{
  width:100%;
  padding:12px;
  border:none;
  border-radius:10px;
  background:#3b82f6;
  color:white;
  cursor:pointer;
  font-size:16px;
}

.login-box button:hover{
  background:#2563eb;
}

#error{
  margin-top:10px;
  color:red;
}

/* CHAT */

.chat-page{
  display:flex;
  height:100vh;
}

.sidebar{
  width:250px;
  background:#111827;
  padding:20px;
  border-right:1px solid #1f2937;
}

.sidebar h2{
  margin-bottom:20px;
}

#users{
  color:#cbd5e1;
  line-height:1.8;
}

.main{
  flex:1;
  display:flex;
  flex-direction:column;
}

.topbar{
  padding:20px;
  background:#111827;
  display:flex;
  justify-content:space-between;
  align-items:center;
}

#logoutBtn{
  padding:10px 16px;
  border:none;
  border-radius:8px;
  background:red;
  color:white;
  cursor:pointer;
}

#messages{
  flex:1;
  padding:20px;
  overflow-y:auto;
  background:#0f172a;
}

.message{
  background:#2563eb;
  padding:10px 14px;
  border-radius:12px;
  margin-bottom:12px;
  width:fit-content;
  max-width:70%;
}

.system{
  background:#374151;
}

.input-area{
  display:flex;
  padding:20px;
  gap:10px;
  background:#111827;
}

#messageInput{
  flex:1;
  padding:12px;
  border:none;
  border-radius:10px;
}

#sendBtn{
  padding:12px 20px;
  border:none;
  border-radius:10px;
  background:#3b82f6;
  color:white;
  cursor:pointer;
}

#typing{
  padding-left:20px;
  color:#94a3b8;
  font-size:14px;
}

.hidden{
  display:none;
}
